* { 
    box-sizing: border-box;
    padding: 0;
    margin:0;
    scroll-behavior: smooth;
}



a {
    color:unset;
    text-decoration: none;
}

.App {
    caret-color: transparent;
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 50% 50%, rgba(15, 74, 131, 1) 0%, rgba(8, 28, 47, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 50% 50%, rgba(15, 74, 131, 1) 0%, rgba(8, 28, 47, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 50% 50%, rgba(15, 74, 131, 1) 0%, rgba(8, 28, 47, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 50% 50%, #0f4a83 0%, rgba(8, 28, 47, 1) 100%);

    /* global 92%+ browsers support */
    background:var(--backgroud-grad);
    display: grid;
    grid-template-columns: 50px 75px 75px 100px auto 100px 75px 75px 50px;
    grid-template-rows: 0rem 100px 100px auto 150px auto 50px 600px 70px 300px 70px 100px;
}

.ec__overlay{
    grid-area: 1/1/-1/-1;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 50px 200px auto;
    grid-template-rows: 100%;

}

@media screen and (max-width : 1250px){
    .ec__overlay{
        grid-template-columns: 35px 215px auto;
    }
}

@media screen and (max-width : 1100px){
    .App{
        grid-template-columns: 50px 75px 75px 100px auto 100px 75px 75px 50px;
        grid-template-rows: 0rem 100px 100px auto 150px auto 50px 750px 70px 300px 70px 100px;
    }
}


@media screen and (max-width : 950px){
    .App{
        grid-template-columns: 5% 5% auto 5% 5%;
    }
}









.gradient__text
{
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color : transparent;
}

.section__padding{
    padding : 4rem 6rem;
}

.section__margin{
    margin : 4rem 6rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}
  
@media screen and (max-width : 700px) {
    .section__padding{
        padding: 4rem 6rem;
    }

    .section__margin{
        margin: 4rem;
    }
}

@media screen and (max-width : 550px) {
    .section__padding{
        padding: 4rem 2rem;
    }

    .section__margin{
        margin: 4rem 2rem;
    }
}


